<header class="hero-head">
 <div class="container">
  <nav class="nav">

   <div class="nav-left">
    <a class="nav-item" href="/">
     <img src="/assets/img/title.png" alt="open-aerospace">
    </a>
   </div>

   <div id="nav-menu" class="nav-right nav-menu">
    <span class="nav-item">
     <a  href="/">Home</a>
    </span>
    <span class="nav-item">
     <a  href="/about/">About</a>
    </span>
    <span class="nav-item">
     <a class="button is-outlined" href="https://github.com/open-aerospace">
      <i class="fa fa-github"></i>
      GitHub
     </a>
    </span>
   </div>
  </nav>
 </div>
</header>
