   <div class="hero-header">
    <header class="header">
     <div class="container">

      <div class="header-left">
       <a class="header-item" href="/">
        <img src="/assets/img/title.png" alt="open-aerospace">
       </a>
      </div>

      <div id="header-menu" class="header-right header-menu">
       <span class="header-item">
        <a  href="/">Home</a>
       </span>
       <span class="header-item">
        <a  href="/about/">About</a>
       </span>
       <span class="header-item">
        <a class="button is-info is-outlined is-inverted" href="https://github.com/open-aerospace">
         <i class="fa fa-github"></i>
         GitHub
         </a>
       </span>
      </div>
     </div>
    </header>
   </div>

