<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">

 </head>
 <body>
  {{ content }}
 </body>
</html>
