<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="/assets/style.css">
 </head>
 <body>

  <section class="hero is-primary is-left is-bold">
   <div class="hero-header">
    <header class="header">
     <div class="container">

      <div class="header-left">
       <a class="header-item" href="/">
        open-aerospace
       </a>
      </div>

      <div id="header-menu" class="header-right header-menu">
       <span class="header-item">
        <a  href="/">Home</a>
       </span>
      
       <span class="header-item">
        <a class="button is-info is-outlined is-inverted" href="https://github.com/open-aerospace">
         <i class="fa fa-github"></i>
         GitHub
         </a>
       </span>
      </div>
     </div>
    </header>
   </div>
   <div class="hero-content">
    <div class="container">
     <p class="title">
      Open Source Aerospace
     </p>
     <p class="subtitle">
      Because <strong>space is hard</strong>
     </p>
    </div>
   </div>
   <div class="hero-footer">
    <nav class="tabs is-boxed">
     <div class="container">
      <ul>
       <li class="is-active">
        <a href="/">Overview</a>
       </li>
      </ul>
     </div>
    </nav>
   </div>
  </section>

  {{ content }}

  <footer class="footer">
   <div class="container">
    <div class="content is-text-centered">
     <p>
      <strong>Open Aerospace</strong> is a collaborative effort. Most work is copyleft licensed e.g. GPL. This website content is licensed <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
     </p>
     <p>
      Please comment, update, fix, or complain about this site using github's issues and pull requests.
     </p>
     <p><a href="https://github.com/open-aerospace/open-aerospace.github.io">github.com/open-aerospace/open-aerospace.github.io</a></p>
    </div>
   </div>
  </footer>

 </body>
</html>
