---
layout: base
---
   <div class="hero-footer">
    <nav class="tabs is-boxed">
     <div class="container">
      <ul>
       <li>
        <a href="/">Overview</a>
       </li>
       <li>
        <a href="/news/">News</a>
       </li>
      </ul>
     </div>
    </nav>
   </div>
  </section>
<section class="section">
 <div class="container">
  <div class="content">

    <h1>{{ page.title }}</h1>
    <span class="byline">
      {% assign d = page.date | date: "%-d"  %}
      {{ page.date | date: "%B" }}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
          {% when '2' or '22' %}{{ d }}<sup>nd</sup>
          {% when '3' or '23' %}{{ d }}<sup>rd</sup>
          {% else %}{{ d }}<sup>th</sup>
        {% endcase %}
      {{ page.date | date: "%Y" }} by <a href="https://github.com/{{ page.author }}">@{{ page.author }}</a></span>

    <hr>

    {{ content }}

  </div>
 </div>
</section>
